<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <h1>Hello, it's my amazing project!</h1>
    <p>In this project, I'm searching tha data about used cars in Singapore to find out any significant patterns.</p>
    <a class = "btn btn-success" href="/About the project">About the project</a>
    <a class = "btn btn-warning" href="/Task1">Task1</a>
    <a class = "btn btn-success" href="/Task2">Task2</a>
    <a class = "btn btn-warning" href="/Task3">Task3</a>
    <a class = "btn btn-success" href="/Task4">Task4</a>
    <a class = "btn btn-warning" href="/Task5">Task5</a>
    <a class = "btn btn-warning" href="/Task6">Task6</a>
</body>
</html>