<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <h1>Hello, it's my amazing Task6!</h1>
    <img src="{{url_for('static', filename='5.png')}}" />
    </br>
    <p>There is an opposite tendency towards the tendency on the plot in the previous task</p>
    </br>
    <p>To sum up i would say that the ownership of a car in Singapore is a privilege,because it's unaffordable</p>
    <p>The price of a car might be rather lower than amount of money for COE and ARF you have to pay</p>
    <p>People are mostly likely to sell cars with quite high Coe_left value, because it's hard to get COE</p>
    <a class = "btn btn-warning" href="/">Home</a>
    <a class = "btn btn-success" href="/About the project">About the project</a>
    <a class = "btn btn-success" href="/Task1">Task1</a>
    <a class = "btn btn-warning" href="/Task2">Task2</a>
    <a class = "btn btn-success" href="/Task3">Task3</a>
    <a class = "btn btn-warning" href="/Task4">Task4</a>
    <a class = "btn btn-warning" href="/Task5">Task5</a>
</body>
</html>